.minibrick {background:#fe9929;}
.medibrick {background:#d95f0e;}
.megabrick {background:#993404;}
#sidebar {background-color:#fed98e;}
#canvas {background-color:#ffffd4;}
.eitem {background:#ffffd4;}
#header {background:#993404;}