.minibrick {background:#6baed6;}
.medibrick {background:#3182bd;}
.megabrick {background:#08519c;}
#sidebar {background-color:#bdd7e7;}
#canvas {background-color:#eff3ff;}
.eitem {background:#eff3ff;}
#header {background:#08519c;}