.minibrick {background:#969696;}
.medibrick {background:#636363;}
.megabrick {background:#252525;}
#sidebar {background-color:#cccccc;}
#canvas {background-color:#f7f7f7;}
.eitem {background:#f7f7f7;}
#header {background:#252525;}