.minibrick {background:#74c476;}
.medibrick {background:#31a354;}
.megabrick {background:#006d2c;}
#sidebar {background-color:#bae4b3;}
#canvas {background-color:#edf8e9;}
.eitem {background:#edf8e9;}
#header {background:#006d2c;}