.minibrick {background:#7bccc4;}
.medibrick {background:#43a2ca;}
.megabrick {background:#0868ac;}
#sidebar {background-color:#bae4bc;}
#canvas {background-color:#f0f9e8;}
.eitem {background:#f0f9e8;}
#header {background:#0868ac;}