.minibrick {background:#67a9cf;}
.medibrick {background:#1c9099;}
.megabrick {background:#016c59;}
#sidebar {background-color:#bdc9e1;}
#canvas {background-color:#f6eff7;}
.eitem {background:#f6eff7;}
#header {background:#016c59;}