.minibrick {background:#fd8d3c;}
.medibrick {background:#e6550d;}
.megabrick {background:#a63603;}
#sidebar {background-color:#fdbe85;}
#canvas {background-color:#feedde;}
.eitem {background:#feedde;}
#header {background:#a63603;}