.minibrick {background:#df65b0;}
.medibrick {background:#dd1c77;}
.megabrick {background:#980043;}
#sidebar {background-color:#d7b5d8;}
#canvas {background-color:#f1eef6;}
.eitem {background:#f1eef6;}
#header {background:#980043;}