.minibrick {background:#f768a1;}
.medibrick {background:#c51b8a;}
.megabrick {background:#7a0177;}
#sidebar {background-color:#fbb4b9;}
#canvas {background-color:#feebe2;}
.eitem {background:#feebe2;}
#header {background:#7a0177;}