.minibrick {background:#9e9ac8;}
.medibrick {background:#756bb1;}
.megabrick {background:#54278f;}
#sidebar {background-color:#cbc9e2;}
#canvas {background-color:#f2f0f7;}
.eitem {background:#f2f0f7;}
#header {background:#54278f;}