.minibrick {background:#fb6a4a;}
.medibrick {background:#de2d26;}
.megabrick {background:#a50f15;}
#sidebar {background-color:#fcae91;}
#canvas {background-color:#fee5d9;}
.eitem {background:#fee5d9;}
#header {background:#a50f15;}