.minibrick {background:#8c96c6;}
.medibrick {background:#8856a7;}
.megabrick {background:#810f7c;}
#sidebar {background-color:#b3cde3;}
#canvas {background-color:#edf8fb;}
.eitem {background:#edf8fb;}
#header {background:#810f7c;}